<h1>Hola mundo desde handlebars</h1>
<hr/>
<h3>Nombre: {{nombre}}</h3>
<hr/>
<h3>Condicionales</h3>
<hr/>
<h3>Areglos y Condicionales</h3>
<ul>
{{#each paises}}
    <li> {{@index}} - {{this.nombre}} | {{this.nic}}</li>
{{/each}}
</ul>
